@use './app/assets/styles/global.scss';
@use './app/assets/styles/animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #08060F;
  color: #E8DFEE;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}